page-user-transfer {
	.searchbar-md .searchbar-input{
		width: 100%;
		background:transparent;
		border-style: none;
		border-bottom: 0.3px solid #fff;
		color: #fff;
		font-size: 5em;
		margin-bottom: 1em;
		box-shadow: none;
		text-align: left;
	}

	.searchbar-md .searchbar-search-icon{
		width: 4em;
		height: 4em;
		left: -2%;

	}

	.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel{
		background-size: 5em;
	}
}
