<ion-header>
  <ion-navbar>
    <ion-title>
      Usuario a transferir
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list-header *ngIf="!userSelected" style="font-size: 2em;">A quien le quieres transferir</ion-list-header>
    <ion-list-header *ngIf="userSelected" style="font-size: 2em;">Transferir a {{ userSelected.firstName }}</ion-list-header>

	

	<ion-searchbar (ionInput)="getItems($event)" (ionCancel)="userSelected=null" [value]="userSelected?.email" placeholder="Usuario"></ion-searchbar>
<ion-grid>
<ion-row>
	<ion-fab *ngIf="userSelected" right><button ion-fab (click)="goToTransfer(currUser,userSelected)"><ion-icon name="send"></ion-icon></button></ion-fab>
	<ion-fab *ngIf="!userSelected" right><button class="deslected" ion-fab><ion-icon name="send"></ion-icon></button></ion-fab>
</ion-row>

	<ion-row style="font-size: 1.2em;margin-top: -3em;margin-bottom: 1em;text-align: center;max-width: 100%;">
	<ion-col width-80 offset-10 style="color:#fff;">
	Introduce el correo de la persona a la que quieres transferir
	</ion-col>
	</ion-row>
	<ion-list>
	  <ion-item *ngFor="let user of userList" (click)="selectUser(user)">
	    <h2 style="font-size: 1.5em;"> {{ user.firstName }} {{ user.lastName }} </h2>
	    <h3 style="font-size: 1em;"> Correo: <strong>{{ user.email }}</strong> </h3>
	  </ion-item>
	</ion-list>
</ion-grid>
</ion-content>
