<ion-header>
  <ion-navbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-col width-50 style="margin-left: 25%;"> 
  <ion-card style="border-radius: 25px;">
  <ion-item style="text-align: center;vertical-align: middle;">
     <span class="saldo"><!-- <ion-icon name="star-outline"></ion-icon> --> $ {{userProfile?.saldo}}</span>

  </ion-item>
  <ion-row style="border-top: 0.1px solid #B7B7B7;text-align: center;">
    <!-- <ion-col width-50>
      <button ion-button clear>
        <ion-icon name="time" style="font-size: 2em;margin-right: 0.5em;"></ion-icon><b> Historial</b>
      </button>
    </ion-col> -->
  
    <ion-col width-100>
      <button ion-button clear (click)="goToTransferir()">
        <ion-icon name="send" style="font-size: 2em;margin-right: 0.5em;"></ion-icon><b> Transferir</b>
      </button>
    </ion-col>
  </ion-row>

  </ion-card>
  </ion-col>

  <ion-list>
    <ion-list-header style="font-size: 2em;">
      Información Personal
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Nombre
          </ion-col>
          <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Toca aqui para editar
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label style="max-width: 50%;">
      <span id="birthdate-title">  
      Fecha de Nacimiento
      </span>
      </ion-label>
      <ion-datetime style="padding-left: 0" displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY"
        [(ngModel)]="birthDate" (ionChange)="updateDOB(birthDate)"></ion-datetime>
    </ion-item>

    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Correo
          </ion-col>
          <ion-col width-50 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Toca aqui para editar
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Contraseña
          </ion-col>
          <ion-col class="placeholder-profile">
            <span>
              Toca aqui para editar
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>