// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Tema Azul */
$color-pri : #01378D;
$color-sec : #18A0DE;
$gris : #BDBDBD;
$plomo : #191A20;
/* Tema amarillo */
/* $color-pri : #FFCA28;
$color-sec : #FFA001; */

ion-app.md,ion-content{
    background: $color-pri; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(135deg,$color-pri, $color-sec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg,$color-pri, $color-sec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg,$color-pri, $color-sec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg,$color-pri, $color-sec); /* Standard syntax */
}

.toolbar-background-md{
	background: none;
	border-style: none;
}

ion-header::after {
    background-image: none !important;
}

.toolbar-title-md{
	text-align: center;
}

.bar-button-default-md,.toolbar-title-md,ion-label,ion-label.label-md>span#birthdate-title,.datetime-text{
	color: #fff;
}

.item-md{
	background-color: rgba(0,0,0,0);
	border-bottom: 0.1px solid #fff;
}

.item-md.list-header{
	border:none;
}

.list-md .item-block .item-inner,.item-md.item-block .item-inner{
	border-bottom: none;
}

ion-col.placeholder-profile{
	color:$gris;
}

ion-card>ion-item>div>div>ion-label.label.label-md{
	color: $plomo;
}

ion-card>ion-item>div>div>ion-label.label.label-md>.saldo{
	color: $color-sec;
	font-size: 3em;
}