<ion-header>
  <ion-navbar>
    <ion-title>
      Transferencia
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-grid>
    <ion-list-header style="font-size: 2em;">
	Cuanto quieres transferir a {{userSelected.firstName}}
	</ion-list-header>
	<form [formGroup]="numForm" novalidate>
	<ion-row>
		<ion-input #numero formControlName="numero" type="number" (ngModel)="valor" [value]="valor" (change)="numChanged()"placeholder="00.00" [class.invalid]="!saldoSuficiente() && (numberChanged || submitAttempt)" id="numbers-input">
		</ion-input>
	
	
	<ion-fab right edge>
    	<button ion-fab (click)="goToConfirmacion(userProfile,userSelected,valor)"><ion-icon name="send"></ion-icon></button>
    </ion-fab>
	
	</ion-row>

	<ion-row style="font-size: 1.3em;margin-top: -1.5em;text-align: center;">
	<ion-label *ngIf="saldoSuficiente()" class='wrong-cant'>Te quedan {{diff}}</ion-label>
	<ion-label *ngIf="!saldoSuficiente()" >Te quedan {{diff}}</ion-label>
	</ion-row>

	<ion-row>
		<ion-col (click)="inputNumber(1,numero)" width-33><button block ion-button class="number-btn">1</button></ion-col>
		<ion-col (click)="inputNumber(2,numero)" width-33><button block ion-button class="number-btn">2</button></ion-col>
		<ion-col (click)="inputNumber(3,numero)" width-33><button block ion-button class="number-btn">3</button></ion-col>
	</ion-row>
	<ion-row>
		<ion-col (click)="inputNumber(4,numero)" width-33><button block ion-button class="number-btn">4</button></ion-col>
		<ion-col (click)="inputNumber(5,numero)" width-33><button block ion-button class="number-btn">5</button></ion-col>
		<ion-col (click)="inputNumber(6,numero)" width-33><button block ion-button class="number-btn">6</button></ion-col>
	</ion-row>
	<ion-row>
		<ion-col (click)="inputNumber(7,numero)" width-33><button block ion-button class="number-btn">7</button></ion-col>
		<ion-col (click)="inputNumber(8,numero)" width-33><button block ion-button class="number-btn">8</button></ion-col>
		<ion-col (click)="inputNumber(9,numero)" width-33><button block ion-button class="number-btn">9</button></ion-col>
	</ion-row>
	<ion-row>
		<ion-col (click)="inputNumber('.',numero)" width-33><button block ion-button class="number-btn">.</button></ion-col>
		<ion-col (click)="inputNumber(0,numero)" width-33><button block ion-button class="number-btn">0</button></ion-col>
		<ion-col width-33><button block ion-button class="number-btn" (click)="delInput()"> <ion-icon name="ios-backspace-outline"></ion-icon></button></ion-col>
	</ion-row>
	</form>
</ion-grid>
</ion-content>