<ion-header>
  <ion-navbar>
    <ion-title>
      Crear cuenta
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card style="border-radius: 25px">

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Correo</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Correo"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Porfavor introduzca un correo valido.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Contrasena</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Tu Contrasena"
        [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Tu contraseña necesita mas de 6 caracteres.</p>
    </ion-item>
    
    <ion-row style="border-top: 0.1px solid #B7B7B7;">
    <ion-col width-100>
    <button ion-button block clear type="submit">
      Crear Cuenta
    </button>
    </ion-col>
    </ion-row>
  </form>
</ion-card>
</ion-content>